$primary-color: black;

body {
  margin: 0;
  padding: 0;
}

/* App prikaz */
.App {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

/* navigacioni meni u Appu */

.top-navigation {
  width: 100vw;
  background-color: $primary-color;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20vh;

  img {
    height: 100%;
  }
  .right-nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin: 15px;
    padding: 15px;

    ul {
      display: inline;
      text-decoration: none;
      list-style: none;

      li {
        text-decoration: none;
        :hover {
          background-color: rgb(139, 25, 27);
          cursor: pointer;
        }

        a {
          display: inline;
          margin: 20px;
          text-decoration: none;
          padding: 10px;
          color: white;
          font-size: 20px;
          :hover {
            color: blue;
          }
        }
      }
    }

    .year-select {
      margin: 15px;
    }
  }
}

/* stilizovanje kartice za sve prikaze (timovi i vozaci) */

// MAIN CONTAINER
.main-view {
  height: 80vh;
  flex: 1;
  overflow-y: auto;
}

.driver-container,
.team-container,
.race-container {
  display: flex;
  flex-direction: row;
  align-items: top;
  margin: 20px;
}

// Kartica CARD

.driver-details-card,
.teams-details-card {
  width: 100%;
  max-width: 400px;
  height: 700px;
  margin-bottom: 20px;
  background-color: #333; // tamno siva pozadina
  border: 1px solid #444; // malo svetlija siva za border
  padding: 20px;
  width: 400px; // manja širina
  font-family: Arial, sans-serif;
  color: #fff;
}
.race-details-card {
  width: 100%;
  max-width: 400px;
  height: 700px;
  margin-bottom: 20px;
  background-color: #333;
  border: 1px solid #444;
  padding: 20px;
  width: 300px;
  font-family: Arial, sans-serif;
  color: #fff;
}

// Tabela TABLE

// .ant-pagination-item-1.ant-pagination-item-active,
// .anticon-left,
// .anticon-right {
//   display: none;
// }

// .ant-pagination.ant-table-pagination.ant-table-pagination-right.css-dev-only-do-not-override-j9bb5n {
//   display: none;
// }

// . {
//   overflow-x: hidden;
// }
// Tabela TABLE

.driver-table,
.team-table {
  width: 100%;
  border-collapse: collapse;
  justify-content: stretch;
  align-items: center;
}

.team-table .ant-table {
  text-align: center;
}

.team-table .ant-table-thead th {
  text-align: center;
}

.team-table .ant-table-tbody td {
  text-align: center;
}

.team-table .ant-table-tbody .ant-table-cell {
  vertical-align: middle;
}

.ant-table {
  text-align: center;
}

.ant-table-cell {
  text-align: center;
}
.color {
  border: 1px solid getPositionColor;
  padding: 20px;
  border-radius: 50px;
}
